[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=3.7"
twine = "*"
tox = "*"
numpy = ">=1.16"

[packages]
sida = {editable = true,path = "."}
numpy = ">=1.16"
matplotlib = "*"
websocket-client = "*"

[requires]
python_version = "3.7"
